@font-face {
    font-family: 'Montse';
    src: url(/assets/fonts/Montserrat-Italic-VariableFont_wght.ttf);
}

body{
    font-family: 'Montse';
    background-image: url(/assets/imgs/pexels-pixabay-355770.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
div{
    text-align: center;
    color: red;
    margin: 0 auto;
    width: 30rem;
    background: #1D976C;
    background: -webkit-linear-gradient(to right, #93F9B9, #1D976C);  
    background: linear-gradient(to right, #93F9B9, #1D976C);        
}


h1{
    text-align: center;
    animation: moving 5s infinite;
    text-shadow: 3px 3px 2px rgba(128, 0, 0, 1);
    animation: wiggle 2s linear infinite;
}

  @keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
  }

/*pseudoselector*/