@font-face {
    font-family: 'Montse';
    src: url(/assets/fonts/Montserrat-Italic-VariableFont_wght.ttf);
}

body{
    font-family: 'Montse';
    background-image: url(/assets/imgs/pexels-pixabay-355770.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
div{
    color: red;
    padding: auto;
    display: block;
    margin: 0 auto;   
}

@keyframes moving {
    
}

h1{
    animation: moving 5s infinite;
}

/*sombreado*/


/*degradado*/



/*pseudoselector*/